body{
  background: url('../images/pattern_130.gif');
}

.modal.login .modal-header{
	border-bottom: none;
}

.welcome{
  margin-right: 20px;
}

.shareList, .resendPassword{
  display: none;
}

.addTask{
  margin-top: 50px;
}