body{
  background: url('../images/pattern_130.gif');
}

.modal.login .modal-header{
	border-bottom: none;
}

.modal.login .alert {
	margin-bottom: 0px;
}

.modal.login .alert:nth-child(n+1){
	/*margin-top: 20px;*/
}

.welcome{
  margin-right: 20px;
}

.shareList, .resendPassword{
  display: none;
}

.addTask{
  margin-top: 50px;
}